:root {
	font-family       : sans-serif;
	--color-primary   : red;
	--color-secondary : indigo;
}


*,
*::before,
*::after {
	-webkit-box-sizing : inherit;
	box-sizing         : inherit;
	margin             : 0;
	padding            : 0;
}


html {
	-webkit-box-sizing : border-box;
	box-sizing         : border-box;
}


@media only screen and (max-width : 75em) {
	html {
		font-size : 80%;
	}
}


body {
	font-family : "Nunito", sans-serif;
	font-weight : 300;
	line-height : 1.8;
}


html {
	background-color : white;
	color            : black;
	margin           : 1rem;
}


a {
	color                 : inherit;
	text-decoration       : underline;
	text-decoration-color : var(--color-secondary);
}


h1 {
	font-size   : 3rem;
	line-height : 1.5;
	font-weight: 200;
}


h2 {
	font-size   : 1.7rem;
	line-height : 1.6;
	font-weight: 200;
}


h3 {
	font-size   : 1.4rem;
	line-height : 1.4;
	font-weight: 300;
}


h4 {
	font-size   : 1.2rem;
	line-height : 1.4;
	font-weight: 200;
}


.main-wrapper {
	max-width: 60rem;
}


.headerBlock {
	display        : flex;
	flex-direction : row
}


.personal {
	flex-grow : 1;
}


.applicantLocation ul {
	display        : flex;
	flex-direction : row;
	font-style     : normal;
}


.applicantLocation ul > li {
	margin : 0.9rem;
	list-style: square;
}


.applicantLocation ul > :first-child {
	list-style  : none;
	margin-left : 0;
}


.links {
	display         : flex;
	flex-direction  : column;
	flex-grow       : 1;
	justify-content : center;
	line-height     : 2rem;
	list-style      : none;
	text-align      : right;
}


.section-header {
	border-bottom : 2px solid var(--color-primary);
	line-height   : 1;
	margin        : 0.5rem 0;
	width         : 100%;
}


.summary {
	margin : 0 1rem;
}


.position-header {
	align-items    : baseline;
	color          : var(--color-secondary);
	display        : flex;
	flex-direction : row;
	width          : 100%;
	margin-top: 0.5rem;
}


.position-header > :not(:first-child) {
	margin-left : 1rem;
}


.position-dates {
	text-align : right;
	width      : 10rem;
}


.position-title {
	flex-grow : 1;
}

.bulleted-content {
	list-style  : square;
	margin-left : 1.9rem;
}